#include "resource.h"

// Application icon
IDI_ICON1 ICON DISCARDABLE "mama.ico"

// Manifest to enable visual styles
1 RC_MANIFEST "res.manifest"

// Include worker DLL in executable for better portability
WORKER_DLL RCDATA "../Rebld/Release/rebld.dll"
