#include "resource.h"

// Application icon
IDI_ICON1 ICON DISCARDABLE "mama.ico"

// Manifest to enable visual styles
1 RC_MANIFEST "res.manifest"

// String table
STRINGTABLE
BEGIN
  IDS_TITLE     "LEGO Island Rebuilder"
  IDS_SUBTITLE  "by MattKC (itsmattkc.com)"
  IDS_PATCHES   "Patches"
  IDS_MUSIC     "Music"
  IDS_RUN       "Run"
  IDS_KILL      "Kill"
END

// Include worker DLL in executable for better portability
WORKER_DLL RCDATA "rebld.dll"
